@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldIt.woff2") format("woff2"), url("fonts/MinionPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Medium.woff2") format("woff2"), url("fonts/MinionPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-It.woff2") format("woff2"), url("fonts/MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Regular.woff2") format("woff2"), url("fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldCn.woff2") format("woff2"), url("fonts/MinionPro-BoldCn.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldCnIt.woff2") format("woff2"), url("fonts/MinionPro-BoldCnIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Semibold.woff2") format("woff2"), url("fonts/MinionPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Bold.woff2") format("woff2"), url("fonts/MinionPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-SemiboldIt.woff2") format("woff2"), url("fonts/MinionPro-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-MediumIt.woff2") format("woff2"), url("fonts/MinionPro-MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Minion Pro";
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 100vw;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.303);
          box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.303);
}

.navbar__image {
  height: 100%;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__links {
  color: #008e9b;
  font-size: 24px;
}

.section {
  width: 100%;
  height: 100vh;
}

.section__header {
  background-image: url("../assets/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=index.css.map */