/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldIt.woff2") format("woff2"), url("fonts/MinionPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Medium.woff2") format("woff2"), url("fonts/MinionPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-It.woff2") format("woff2"), url("fonts/MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Regular.woff2") format("woff2"), url("fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldCn.woff2") format("woff2"), url("fonts/MinionPro-BoldCn.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldCnIt.woff2") format("woff2"), url("fonts/MinionPro-BoldCnIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Semibold.woff2") format("woff2"), url("fonts/MinionPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Bold.woff2") format("woff2"), url("fonts/MinionPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-SemiboldIt.woff2") format("woff2"), url("fonts/MinionPro-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-MediumIt.woff2") format("woff2"), url("fonts/MinionPro-MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Minion Pro";
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.main {
  width: 100vw;
  height: auto;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  margin-left: 3%;
  margin-bottom: 5%;
}

.title--science {
  color: #7ac5cf;
  text-shadow: -3px -3px 0 #004947;
}

.subtitle {
  color: #004947;
  font-size: 3rem;
  margin-left: 3%;
  text-transform: uppercase;
  font-weight: bold;
}

.text {
  text-align: justify;
  font-size: 2.5rem;
  line-height: 40px;
  margin: 3%;
  color: #006d69;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 10px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.303);
          box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.303);
}

.navbar__image {
  height: 100%;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__list-items {
  width: auto;
  margin-right: 40px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.navbar__list-items:hover {
  border-bottom: 1px solid #008e9b;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.navbar__links {
  color: #008e9b;
  font-size: 2.4rem;
}

.section {
  width: 100%;
  height: 120vh;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../assets/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section__header-image {
  width: 90%;
  height: auto;
}

.section__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-right: 20px;
}

.section__header-subtitle {
  width: 90%;
  margin-top: 20px;
  color: #fff;
  font-size: 3rem;
  line-height: 4.6rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__science {
  position: relative;
  background-image: url("/assets/science_bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 100%;
  padding-top: 35%;
}

.section__science--single {
  padding-top: 50px;
  background-position-y: -300px;
}

.section__science-container {
  width: 100%;
  padding: 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__science-item {
  width: 15%;
}

.section__science-img {
  width: 100%;
}

.section .info {
  position: absolute;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.section .info__card-img {
  width: 28%;
  height: auto;
}

.section .science__btn {
  margin: 0 auto;
  border: none;
  background-color: #006560;
}

.section .science__btn > a {
  color: white;
}

.section .science__name {
  color: #005d57;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
}

.section .science__description {
  color: #005d57;
  font-size: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */