/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldIt.woff2") format("woff2"), url("fonts/MinionPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Medium.woff2") format("woff2"), url("fonts/MinionPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-It.woff2") format("woff2"), url("fonts/MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Regular.woff2") format("woff2"), url("fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldCn.woff2") format("woff2"), url("fonts/MinionPro-BoldCn.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-BoldCnIt.woff2") format("woff2"), url("fonts/MinionPro-BoldCnIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Semibold.woff2") format("woff2"), url("fonts/MinionPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-Bold.woff2") format("woff2"), url("fonts/MinionPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-SemiboldIt.woff2") format("woff2"), url("fonts/MinionPro-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("fonts/MinionPro-MediumIt.woff2") format("woff2"), url("fonts/MinionPro-MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Minion Pro";
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 7.69231px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main {
  width: 100vw;
  height: auto;
}

.section {
  padding: 20px;
}

.input, textarea {
  width: 95%;
  height: 40px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #0A5D58;
  padding: 0 20px;
  font-size: 2rem;
  font-family: "Minion Pro";
  color: #0A5D58;
  -webkit-transition: -webkit-box-shadow 2s linear;
  transition: -webkit-box-shadow 2s linear;
  transition: box-shadow 2s linear;
  transition: box-shadow 2s linear, -webkit-box-shadow 2s linear;
}

.input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Minion Pro";
  color: #0A5D58;
}

.input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Minion Pro";
  color: #0A5D58;
}

.input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Minion Pro";
  color: #0A5D58;
}

.input::placeholder, textarea::placeholder {
  font-family: "Minion Pro";
  color: #0A5D58;
}

.input:focus, textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.283);
          box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.283);
  -webkit-transition: -webkit-box-shadow 0.4s linear;
  transition: -webkit-box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
}

textarea {
  height: 200px;
  padding-top: 10px;
}

.contact__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  margin-left: 3%;
  margin-bottom: 5%;
}

.title--dark {
  color: #7ac5cf;
  text-shadow: -3px -3px 0 #004947;
}

.title--light {
  color: #fff;
  text-shadow: -3px -3px 0 #013230;
}

.subtitle {
  color: #004947;
  font-size: 3rem;
  margin-left: 3%;
  text-transform: uppercase;
  font-weight: bold;
}

.text {
  text-align: justify;
  font-size: 2.5rem;
  line-height: 40px;
  margin: 3%;
  color: #006d69;
}

.text--light {
  color: #fff;
}

.btn {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 10px 20px;
  -webkit-box-shadow: -4px -4px 0 1px rgba(0, 0, 0, 0.276);
          box-shadow: -4px -4px 0 1px rgba(0, 0, 0, 0.276);
  font-size: 2rem;
  -webkit-transition: -webkit-transform 0.2s linear, -webkit-filter 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-filter 0.2s linear;
  transition: transform 0.2s linear, filter 0.2s linear;
  transition: transform 0.2s linear, filter 0.2s linear, -webkit-transform 0.2s linear, -webkit-filter 0.2s linear;
}

.btn--dark {
  color: #fff;
  background-color: #008e9b;
}

.btn--light {
  color: #008e9b;
  background-color: #fff;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-transition: -webkit-transform 0.2s linear, -webkit-filter 0.2s linear;
  transition: -webkit-transform 0.2s linear, -webkit-filter 0.2s linear;
  transition: transform 0.2s linear, filter 0.2s linear;
  transition: transform 0.2s linear, filter 0.2s linear, -webkit-transform 0.2s linear, -webkit-filter 0.2s linear;
}

.btn__container {
  width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn > a {
  padding: 20px 30px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 10px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.303);
          box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.303);
}

.navbar__image {
  height: 100%;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__list-items {
  width: auto;
  margin-right: 40px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.3s linear, color 0.3s linear;
  transition: border 0.3s linear, color 0.3s linear;
}

.navbar__list-items:hover {
  border-bottom: 1px solid #005d57;
  -webkit-transition: border 0.3s linear, color 0.3s linear;
  transition: border 0.3s linear, color 0.3s linear;
}

.navbar__links {
  color: #008e9b;
  font-size: 2.4rem;
}

.navbar__links:hover {
  color: #005d57;
}

.section {
  width: 100%;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120vh;
  background-image: url("../assets/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section__header-image {
  width: 90%;
  height: auto;
}

.section__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-right: 20px;
}

.section__header-subtitle {
  width: 90%;
  margin-top: 20px;
  color: #fff;
  font-size: 3rem;
  line-height: 4.6rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__science {
  position: relative;
  background-image: url("/assets/science_bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 100%;
  padding-top: 35%;
}

.section__science--single {
  padding-top: 50px;
  background-position-y: -300px;
}

.section__science-container {
  width: 100%;
  padding: 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .section__science-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section__science-item {
  width: 15%;
}

@media screen and (max-width: 600px) {
  .section__science-item {
    width: 45%;
    margin-top: 20px;
  }
}

.section__science-img {
  width: 100%;
}

.section__science-content > p:last-of-type {
  border-bottom: 2px solid #779598;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section .info {
  position: absolute;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100% - 40px);
}

.section .info__card-img {
  width: 28%;
  height: auto;
}

.section .science__btn {
  margin: 0 auto;
  border: none;
  background-color: #006560;
}

.section .science__btn > a {
  color: white;
}

.section .science__name {
  color: #005d57;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
}

.section .science__description {
  color: #005d57;
  font-size: 1.5rem;
  text-align: center;
}

.section .science__list {
  list-style: inside;
}

.section .science__list-item {
  margin-top: 0;
  margin-bottom: 0;
}

.section .science__list-head {
  text-decoration: underline;
}

.section__services {
  background: url("/assets/bg_triangles.svg"), radial-gradient(#92C3CD, #004A48);
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, cover;
  background-position: 100% -15%, center;
  width: 100vw;
  height: auto;
  padding-top: 50px;
}

.services__container {
  position: relative;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__img {
  width: 30%;
}

.services__icon-container {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services__icon-container > img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 47.5%;
}

.services__content {
  width: 90%;
  margin: 20px auto;
  -webkit-box-shadow: -5px -5px 0 3px #004A48;
          box-shadow: -5px -5px 0 3px #004A48;
  padding-top: 3%;
  background-color: #fff;
  display: flow-root;
}

.services__content > p:nth-child(7) {
  border-bottom: 2px solid #779598;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.services__reference {
  font-size: 1.5rem;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #779598;
}

.services__reference:last-of-type {
  margin-bottom: 20px;
}

.services__img-main {
  float: right;
  width: 40%;
  margin: 3%;
}

.section__about {
  background: url("/assets/bg_triangles.svg") no-repeat right top;
  width: 100vw;
  height: auto;
  padding-top: 50px;
  padding-bottom: 10%;
}

.about__container {
  width: 90%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__container > img {
  width: 40%;
}

.section__contact {
  position: relative;
  background: url("/assets/bg_triangles.svg") no-repeat right top, radial-gradient(#92C3CD, #004A48);
  width: 100vw;
  padding-top: 20%;
}

.value__cards {
  width: 20%;
}
/*# sourceMappingURL=index.css.map */