.section {
  width: 100%;

  &__header {
    display: flex;
    height: 120vh;
    background-image: url("../assets/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;

    &-image {
      width: 90%;
      height: auto;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
      height: 100%;
      margin-right: 20px;
    }

    &-subtitle {
      width: 90%;
      margin-top: 20px;
      color:$header-font-color;
      font-size: $header-font-size;
      line-height: 4.6rem;
      text-align: center;
      align-self: center;
    }
  }
}