.section {
  width: 100%;

  &__header {
    display: flex;
    height: 120vh;
    background-image: url("../assets/people-triangles-bg.png"), radial-gradient(#92C3CD, #008e9b);
    background-repeat: no-repeat;
    background-size: 60%, cover;
    background-position: -100px -100px, 0 0;
    justify-content: flex-end;

    @media screen and (max-width: 1000px){
      height: 100vh;
      background-image: radial-gradient(#92C3CD, #008e9b);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
    }

    &-image {
      width: 90%;
      height: auto;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
      height: 100%;
      margin-right: 20px;

      @media screen and (max-width: 1000px) {
        width: 90%;
        // margin: 0 auto 20px;
       }
    }

    &-subtitle {
      width: 90%;
      margin-top: 20px;
      color:$header-font-color;
      font-size: $header-font-size;
      line-height: 4.6rem;
      text-align: center;
      align-self: center;
    }
  }
}