* {
  box-sizing: border-box;
}

html {
  font-size: $main-font-size;
  font-family: $main-font-family;
  
  @media screen and (max-width: 1000px){
    font-size: $main-font-size / 1.3;
  }

  @media screen and (max-width: 500px) {
    font-size: $main-font-size / 1.5;
   }
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main {
  width: 100vw;
  height: auto;
}

.section {
  padding: 20px;
}

.input, textarea {
  width: 95%;
  height: 40px;
  margin-top: 20px;
  background-color:#fff;
  border: 1px solid #0A5D58;
  padding: 0 20px;
  font-size: 2rem;
  font-family: $main-font-family;
  color: #0A5D58;
  &::placeholder {
    font-family: $main-font-family;
    color: #0A5D58;
  }
  transition: box-shadow 2s linear;

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.283);
    transition: box-shadow 0.4s linear;
  }
}

textarea {
  height: 200px;
  padding-top:10px;;
}

.ul--terms {
  list-style: inside upper-roman;
  font-style: italic;
}



.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  margin-left: 3%;
  margin-bottom: 5%;
  
  &--dark {
    color:#7ac5cf;
    text-shadow: -3px -3px 0 #004947;
  }
  
  &--light {
    color:#fff;
    text-shadow: -3px -3px 0 #013230;
  }
}

.subtitle {
  color: #004947;
  font-size: 3rem;
  margin-left: 3%;
  text-transform: uppercase;
  font-weight: bold;
}

.text {
  text-align: justify;
  font-size: 2.5rem;
  line-height: 40px;
  margin: 3%;
  color:#006d69;

  &--light {
    color: #fff;
  }

  &--italic {
    font-style: italic;
  }

  &--url {
    text-decoration: underline;
    margin-bottom: 0;
  }

  @media screen and (max-width: 600px) {
    line-height: 25px;
  }
}

.btn {
  border: none;
  background-color: transparent;
  margin:0;
  padding:10px 20px;
  box-shadow: -4px -4px 0 1px rgba(0, 0, 0, 0.276);
  font-size: 2rem;
  &--dark {
    color: #fff;
    background-color:#008e9b;
  }
  
  &--light {
    color: #008e9b;
    background-color: #fff;
  }
  
  transition: transform 0.2s linear, filter 0.2s linear;

  &:hover {
    transform: scale(1.1);
    filter: opacity(0.7);
    transition: transform 0.2s linear, filter 0.2s linear;
  }

  &__container {
    width: 100%;
    padding: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  & > a {
    padding: 20px 30px;
  }
}