.section {
  &__science {
    position: relative;
    background-image: url("/assets/science_bg.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 100%;
    padding-top: 35%;

    &--single {
      padding-top: 50px;
      background-position-y: -300px;
    }

    &-container {
      width: 100%;
      padding: 0 3%;
      display: flex;
      justify-content: space-around;
    }

    &-item {
      width: 15%;
    }
  
    &-img {
      width: 100%;
    }

    &-content > p:last-of-type{
      border-bottom: 2px solid #779598;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  .info {
    position: absolute;
    top: -100px;
    display:flex;
    justify-content: space-around;
    width: calc(100% - 40px);

    // &__cards {
    //   position: relative;
    //   width: 30%;
    //   height: 370px;
    //   overflow: hidden;
    //   background-color: #fff;
    //   border: 1px solid #008e9b;
    //   border-left: 10px solid #008e9b;
    //   border-top: 10px solid #008e9b;
    // }

    // &__text {
    //   width: 80%;
    //   margin: 20px auto;
    //   color: $nav-font-color;
    //   font-size: 2.5rem;
    //   line-height: 3rem;
    //   text-align: center;
    // }

    // &__decor {
    //   width: 100px;
    //   height: 100px;
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   transform: rotate(45deg) translateX(80%);

    //   background-color:#008e9b;
    // }

    &__card-img {
      width: 28%;
      height: auto;
    }
  
  }

  .science {
    &__btn {
      margin: 0 auto;
      border: none;
      background-color: #006560;

      & > a {
        color: white;
      }
    }

    &__name {
      color: #005d57;
      font-size: 2rem;
      text-align: center;
      padding: 10px 0;
    }

    &__description {
      color: #005d57;
      font-size: 1.5rem;
      text-align: center;
    }

    &__list {
      list-style: inside;

      &-item {
        margin-top: 0;
        margin-bottom: 0;
      }

      &-head {
        text-decoration: underline;
      }
    }

  }
}