.section {
  &__services{
    background:url("/assets/bg_triangles.svg") no-repeat right top, radial-gradient(#92C3CD, #004A48);
    // background-size: 400px;
    width: 100vw;
    height: auto;
    padding-top: 50px;
  }

}
.services {
  &__container {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 30%;
  }

  &__icon-container {
    
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    &> img:nth-child(2){
      position: absolute;
      bottom:0;
      left:47.5%;
    }
  }

  &__content {
    width: 90%;
    margin: 20px auto;
    box-shadow: -5px -5px 0 3px #004A48;
    padding-top:3%;
    background-color: #fff;
    display:flow-root;

    & > p:nth-child(7){
      border-bottom: 2px solid #004A48;
      margin-bottom: 50px;
    }
  }

  &__reference {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__img-main {
    float: right;
    width: 40%;
    margin: 3%;
  }
}